/* CSS */
.button {
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  /* display: inline-block; */
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin-top: 10px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: baseline; 
  white-space: nowrap;
  width: 48%;
}

#cancelAlarm {
  inherits: ".button";
  background-color: #a3a3a3;
}

#cancelAlarm:hover {
  inherits: ".button";
  background-color: #787878;
}

#setAlarm {
  inherits: ".button";
  background-color: #000000;
  color: #ffffff;
}
#setAlarm:hover {
  inherits: ".button";
  background-color: #3e688a;
  color: #ffffff;
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

#alarmInterval {
  height: 30px;
  font-size: 16px;
  text-align: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 80%;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
}